@font-face {
  font-family: 'ATT';
  src: url('../fonts/ATTSans_Rg.ttf') format('truetype');
}
@font-face {
  font-family: 'ATT';
  src: url('../fonts/ATTSans_Bd.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'ATT';
  src: url('../fonts/ATTSans_BdIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'ATT';
  src: url('../fonts/ATTSans_Blk.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'ATT';
  src: url('../fonts/ATTSans_BlkIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'ATT';
  src: url('../fonts/ATTSans_It.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'ATT';
  src: url('../fonts/ATTSans_Lt.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'ATT';
  src: url('../fonts/ATTSans_LtIt.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'ATT_md';
  src: url('../fonts/ATTSans_Md.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'ATT_mdit';
  src: url('../fonts/ATTSans_MdIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
