<span class="posterContainerText">{{carouselTitle}}</span>
<div  wrapper-class="wrapper">
		<span class="item carouselListItem" focusable data-focusable-depth="0" data-focusable-group="cList" data-focusable-name="focusable-10">{{listCategory}}</span>
		<span class="item carouselListItem" focusable data-focusable-depth="0" data-focusable-group="cList" data-focusable-name="focusable-11">{{listCategory}}</span>
		<span class="item carouselListItem" focusable data-focusable-depth="0" data-focusable-group="cList" data-focusable-name="focusable-12">{{listCategory}}</span>
		<span class="item carouselListItem" focusable data-focusable-depth="0" data-focusable-group="cList" data-focusable-name="focusable-13">{{listCategory}}</span>
		<span class="item carouselListItem" focusable data-focusable-depth="0" data-focusable-group="cList" data-focusable-name="focusable-14">{{listCategory}}</span>
		<span class="item carouselListItem" focusable data-focusable-depth="0" data-focusable-group="cList" data-focusable-name="focusable-15">{{listCategory}}</span>	
</div>
